@import "./color-palette.scss";
@import "./tailwind.scss";
@import "./app.scss";

:root {
    --base-hue: 210;
    --padding: 0.3125rem; // 5px
}

.p-var {
    padding: var(--padding);
}

.rounded-var {
    border-radius: var(--padding);
}
